# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
serve_images
results
data
checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# dev
dev

# models
models/vicuna-7b-v1.5
models/llava-rad
models/rad-dino
models/class_segment/best_checkpoint.pt

# cache
**/.cache
